# Binario final
/executor
/minishell

# Objetos y librerías compiladas
objs/
*.o
*.a
includes/lib/libft/objects/

# Archivos de prueba y logs
salida.txt
texto.txt
*.log
vgcore.*

# Editor / sistema
.vscode/
*.swp
.DS_Store